<h1>Battles#index</h1>
<% @battles.each do |battle| %>
<p>Номер боя: <%= battle.id %>

  <% battle.players.each do |player|%>
  Игрок: "<%= player.name %>"
  <% end %>

  <%= link_to 'Show', battle, :class => 'show-button' %>
  <% end %>