<h1>Battles#new</h1>
<%= form_for @battle do |form| %>
    <%= form.fields_for :players,  @battle.players do |players_form|  %>
        <p>Имя игрока: <br/><%= players_form.text_field :name %></p>
    <% end %>

    <%= form.submit "Создать битву", :class => '' %>
<% end %>